-Cavs40144
-Ih

-D_cdecl=__cdecl
-D_pascal=__pascal
-D_huge=__huge
-D_near=__near
-D_far=__far
;-D__inline=inline
-D__inline=
-D_inline=
-Dinline=

-DCM_WINNT
-DMPR50

-D_INTEGRAL_MAX_BITS=64
-D_MSC_VER=1200
-DZLIB_DLL
-D_WINDOWS

;Version number
;-D__BCPLUSPLUS__=0x500
;-D__BORLANDC__=0x500
;-D__TURBOC__=0x500
;-D__TCPLUSPLUS__=0x500

;__CDECL__      1       Defined if Calling Convention is set to C; otherwise undefined

; Defined by default indicating that the default char is unsigned char.
; Use the -K option to undefine this macro.
-D_CHAR_UNSIGNED=1

; Available only for the 32-bit compiler.
; When defined, the macro indicates that the program is a console application.
; __CONSOLE__

; Enable stack unwinding.This is true by default; use -xd- to disable.
;_CPPUNWIND     1

; Defined if in C++ mode; otherwise, undefined
;-D__cplusplus=1

;__DLL__        1       Defined if Prolog/Epilog Code Generation is set to Windows DLL; otherwise undefined
;__DLL__        1       True whenever -WD option is used.

; Always defined. The default  value is 300.
; You can change the value to 400 or 500 by using the /4 or /5 options.
-D_M_IX86=300

; Defined only for the 32-bit compiler if the -WM option is used.
; It specifies that the multithread library is to be linked.
; Multithread is on by default.
-D__MT__=1

;__OVERLAY__    1       Specific to the Borland C and C++ family of compilers. It is predefined as 1 if you compile a module with the -Y option (enable overlay support).  If you do not enable overlay support, this macro is undefined.
;__PASCAL__     1       Defined if Calling Convention is set to Pascal; otherwise undefined
;__STDC__       1       Defined if you compile with the Keywords option set to ANSI; otherwise, undefined

; Specific to the Borland C++ compilers.
; It is defined as 1 for C++ files (meaning that Borland C++ supports templates); otherwise, it is undefined.
;__TEMPLATES__  1

; Always true when the 32-bit compiler is used.
-D__TLS__=1

;_WCHAR_T       1       Defined only for C++ programs to indicate that wchar_t is an intrinsically defined data type.
;_WCHAR_T_DEFINED 1     Defined only for C++ programs to indicate that wchar_t is an intrinsically defined data type.

; Defined for Windows 16- and 32-bit compilations
-D_Windows=1

; Always defined for the 32-bit compiler.
; It is defined for console and GUI applications.
-D__WIN32__=1
-D_WIN32_WINNT=0x0500
-DWINVER=0x0500
-D_WIN32=1
-DOLEDBVER=0x0250
-DSECURITY_WIN32
-DWIN32_SUPPORT
-DDBNTWIN32
-DW32SUT_32

;-D__MSDOS__=1
